<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table>
      <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>Curso</th>
        <th>Matricula</th>
        <th>Data formacao</th>
        <th>Data ingresso</th>
        <th>Email</th>
        <th>Centro</th>
      </tr>
      <tr>
        <td><%= usuario.nome %></td>
        <td><%= usuario.idade %></td>
        <td><%= usuario.curso %></td>
        <td><%= usuario.matricula %></td>
        <td><%= usuario.data_formacao %></td>
        <td><%= usuario.data_ingresso %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.centro %></td>
      </tr
    </table>
  </body>
</html>
