<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
    <table class="table table-hover">
      <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>Curso</th>
        <th>Matricula</th>
        <th>Data formacao</th>
        <th>Data ingresso</th>
        <th>Email</th>
        <th>Centro</th>
      </tr>
      <tr>
        <td><%= usuario.nome %></td>
        <td><%= usuario.idade %></td>
        <td><%= usuario.curso %></td>
        <td><%= usuario.matricula %></td>
        <td><%= usuario.data_formacao %></td>
        <td><%= usuario.data_ingresso %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.centro %></td>
      </tr>
    </table>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
